/*********HOME PAGE******/
.top
{
  background-image: url("../images/weld7.jpeg");
  height: 70vh;
  margin-bottom: 50px;
}
.home
{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: white;
}
.homep1
{
  margin-top: 150px;
  line-height: 50px;
  font-stretch: extra-expanded;
  font-weight: bold;
  font-display: swap;
}


/*******NAVIGATION BAR***********/
.main-nav
{
	margin-top: 50px;
}

.main-nav li a
{
	color: black;
	padding: 5px 10px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}
.main-nav .active a
{
	border: 1px solid grey;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a:hover
{
	border: 1px solid grey;
	color: white;
  background-color: grey;
}
#up
{
  position: fixed;
  margin-top: 580px;
}
#topp
{
  text-align: right;
}
#hey
{

  position: relative;
}
#hi
{
  text-align: center;
  position: fixed;
}
/***********ABOUT**************/
.about
{
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 150px;
}
h4
{
  text-align: center;
  font-size: 30px;
  margin-bottom: 80px;
}
.flip-card {
  width: 530px;
  height: 350px;
  perspective: 1000px; /* The 3D effect */
}

/* Position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front
{
  background-image: url("../images/asset2.jpeg");
  background-size: cover;
}
.flip-card-front img
{
  margin-top: 30px;
}
.flip-card-front p
{
  color: black;
}
/* Style the back side */
.flip-card-back {
  background-color: white;
  color: grey;
  transform: rotateY(180deg);
  border: 5px dotted grey;
}
.flip
{
  margin-bottom: 5px;
}
.flip img:hover
{
  transform: rotateY(180deg) scale(1.5);
}
.mt10
{
  font-size: 10px;
}
.mt20
{
  font-size: 20px;
}
.mt30
{
  font-size: 30px;
}
.mt40
{
  font-size: 40px;
}
.mt50
{
  font-size: 50px;
}
/*********DESIGNS*********/
h3
{
  text-align: center;
  color: black;
  margin-top: 70px;
}
.card-body
{
  background-color: silver;
  margin: 10px;
  margin-bottom: 50px;
}
.card-body img:hover
{
  transform: rotateY(180deg) scale(1.5);
}
.card-body img
{
  width: 190px;
  height: 380px;
}
/*********CONTACTS US************/
.copyright
{
  text-align: center;
  margin-top: 30px;
}
.contact
{
  background-color: silver;
  margin-bottom: 30px;
  margin-top: 20px;
}
.inputs
{
  text-align: center;
}
#name, #mail, #comment
{
  background-color: transparent;
  margin-top: 20px;
}
#con
{
  color: red;
}
#cont
{
  color: green;
  font-size: 20px;
}
