
/****NAVIGATION BAR*****/
.nav-link
{
  color: black;
  font-size: 1.0rem;
  transition: all 0.5s ease-in-out;
  position: center;
}
.nav-link:hover
{
  color: darkred;
  font-size: 1.2rem;
}
.navbar-toggler
{
  outline: none !important;
}
.toggler-icon
{
  font-size: 2.5rem;
  color: grey;
}
/***End of Navigation Bar**/
/**Banner****/
.home
 {
  min-height: calc(100vh - 76px);
  background: url("../images/workshop.jpg") center/cover fixed no-repeat;
  position: relative;
}
.mybanner
{
  color: white;
  margin-top: -4rem;
}
.mybanner:hover
{
  transition: all 1.5s ease-in-out;
  color: darkred;
  margin-top: 2rem;
}
.mybanner-title
{
  color: darkred;
  font-size: 4rem;
}
.mybanner-title:hover
{
  transition: all 1.5s ease-in-out;
  font-size: 4.5rem;
  color: black;
}
/***End of Banner****/
/**About us****/
.abtmg
{
  margin-top: 100px;
  margin-bottom: 200px;
}
.tUs, .tpro
{
  color: darkred;
  font-size: 3rem;
}
.fnt
{
  font-size: 1.5rem;
}
.about:hover
{
  transition: all 1.5s ease-in-out;
  transform: scaleX(1.5);
  color: darkred;
}
.about-info
{
  font-size: 1.5rem;
  color: #6c757d;
}
.about-info:hover
{
  transition: all 0.5s ease-in-out;
  font-style: oblique;
  color: black;
  transform: scaleY(1.2);
}
/**End of About us***/

/***Our products section*****/
.product
{
  background-color: lightgrey;
}
.pro-title
{
  margin-top: 100px;
  margin-bottom: 20px;
}
.tpro:hover
{
  transition: all 0.5s ease-in-out;
  color: black;
  font-size: 4rem;
}
/***End of our products section***/

/**products img******/
.img-container
{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 60vh;
}
.pro-img
{
  transition: all 1s ease-in-out;
}
.img-container:hover .pro-img
{
  transform: scale(1.2);
}
/***End of products img*****/

/***contact details*******/
.contacts
{
  background-color: black;
  color: grey;
}
.message
{
  display: none;
}
#name, #mail
{
  background-color: transparent;
  color: white;
  margin-left: 10px;
  width: 48%;
}
#comment
{
  background-color: transparent;
  color: white;
}
/*** page links*********/
.pg-links
{
  color: grey;
}
/***End of page links*********/
/****End of contact details***/
